article {
    min-height: 300px;
    background: #d3fed025;
}

article .container,
article .container .row {
    min-height: inherit;

}



/* aside */
article .aboutDiv img {
    border-radius: 6px;
}

article .aboutDiv {
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
    border-radius: 6px;
    padding: 20px;
    color: var(--blue-main);
}

article .aboutDiv h2, article .aboutDiv h3{
    color: #E9B116;
}

article .aboutDiv .text {
    font-size: 18px;
    line-height: 35px;
}

article .aboutDiv .text p {
    margin-bottom: 10px;
}

#my_btn {
    border: #E9B116 1px solid;
    padding: 8px 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: #E9B116;

}


@media(max-width:767px) {
    article .aboutDiv .text {
        line-height: 30px;
    }
}