.strip {
   min-height: 450px;
}

.strip .container, .strip .container .row{
    min-height: inherit;
 }

.strip .row h1{
    /* color: var(--blue-main); */
    color: #E9B116;
}

.strip .row span{
    color: var(--blue-main);
}

.strip .row div .education{
    color: #e9b116;
    font-weight: 500;
   
}
.strip .row img{
    border-radius: 50px;
    border: 2px solid #e9b1167d;
   
}

