:root {
    --purple-main: #a05ce9;
    --pink-main: #d867b6;
    --yellow-main: #E9B116;
    --purple: #9376E0;
    --pink: #E893CF;
    --pink1: #f3bcc8;
    --yellow: #f9fed0;
    --bright-pink: #f9f0f6;
    --blue-main: #002144;
    --black: rgb(0, 0, 0);
    --white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;

}

body {
    overflow-x: hidden;
    background: var(--bright-pink);
    color: var(--blue-main);
}

/* scroll */
/* width */
::-webkit-scrollbar {
    width: 10px;
    background: #FFFFFF;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    border: solid 1px var(--bright-pink);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #baa1fd;
    border-radius: 10px;
    /* border: solid 1px #0021448e; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9376E0;
}

/* iconWhatsapp */
.iconWhatsapp {
    position: fixed;
    z-index: 99999;
    bottom: 40px;
    right: 20px;
}